<!DOCTYPE html>
<html>
<head>
<title>Operator Allocation</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h2>Operator Allocation</h2>

<table border="1">

<tr>
<th>Part</th>
<th>Station</th>
<th>Skill Required</th>
<th>Assign Operator</th>
</tr>

<tr>
<td>Gear Housing</td>
<td>A</td>
<td>L2</td>

<td>
<select>
<option>Rahul</option>
<option>Aman</option>
</select>
</td>

</tr>

</table>

<br>

<a href="/supervisor">Back</a>

</body>
</html>